.form-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 10rem;
}

.form-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

form {
  position: relative;
  width: 100%;
  padding: 0 12px;
}

form > h3 {
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #f27b1a;
}

.input-box {
  position: relative;
  width: 60%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.input-box.hidden {
  display: none;
}

.input-box label {
  font-size: 0.9rem;
  font-weight: 700;
  flex: 2;
}

.input-box input,
.input-box select {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px;
  padding-left: 12px;
  color: #4a4a4a;
  font-size: 15px;
  line-height: 20px;
  box-shadow: rgba(67, 67, 70, 0.39) 0px 2px 5px 0px;
}

a.form-submit {
  border: none;
  outline: none;
  width: 140px;
  padding: 8px 14px;
  background: #286090;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
